@import "./templates/successful.scss";
@import "./templates/advisory.scss";

@mixin registrations {
    .registrations {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--light);
        width: 100%;
        overflow: hidden;

        @include successful;
        @include advisory;
    }
}
