:root {
    --primary: #21a36d;
    --primaryHover: #21895e;
    --darkPrimary: #2b4c82;

    --secundary: #21a36d;
    --secundaryHover: #21895e;

    --highLight: #ffffff;
    --light: #ffffff;
    --darkLight: #4c4e59;

    --dark: #2f3238;
    --black: #26292e;

    --lightNeutral: #e2e8f0;
    --neutral: #c1c5cc;
    --darkNeutral: #7f8289;

    --textNeutral: #b8b8b8;

    --orange: #d9801f;
    --yellow: #ebd54d;
    --grey: #585857;
    --color4: #e6e6e6;
    --color5: #f6f6f6;
}
