@mixin global {
    /************ Custom Font ************/

    @font-face {
        font-family: "Acumin Variable Concept";
        src: url("../assets/fonts/AcuminVariableConcept.otf");
    }

    @font-face {
        font-family: "Cookie-Regular";
        src: url("../assets/fonts/Cookie-Regular.ttf");
    }

    @font-face {
        font-family: "Gotham-Black-Regular";
        src: url("../assets/fonts/Gotham\ Black\ Regular.ttf");
    }

    @font-face {
        font-family: "Gotham-Ultra";
        src: url("../assets/fonts/Gotham-Ultra.otf");
    }

    @font-face {
        font-family: "Gotham-Bold";
        src: url("../assets/fonts/Gotham\ Bold.otf");
    }

    @font-face {
        font-family: "Gotham-Medium";
        src: url("../assets/fonts/Gotham-Medium.otf");
    }

    @font-face {
        font-family: "Barlow-Extrabold";
        src: url("../assets/fonts/Barlow-ExtraBold.ttf");
        font-weight: normal;
    }

    @font-face {
        font-family: "Barlow-SemiBold";
        src: url("../assets/fonts/Barlow-SemiBold.ttf");
        font-weight: normal;
    }

    @font-face {
        font-family: "Barlow-Bold";
        src: url("../assets/fonts/Barlow-Bold.ttf");
        font-weight: normal;
    }

    @font-face {
        font-family: "Barlow-Medium";
        src: url("../assets/fonts/Barlow-Medium.ttf");
        font-weight: normal;
    }

    @font-face {
        font-family: "Barlow-Regular";
        src: url("../assets/fonts/Barlow-Regular.ttf");
        font-weight: normal;
    }

    /************ Default Css ************/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: 0.2s;
    }

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    }

    html {
        scroll-behavior: smooth;
        scroll-padding-top: 75px;
        height: 100%;
        min-height: auto;
        font-size: 62.5%;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            padding: 0;
            line-height: normal;
        }

        p,
        a,
        li,
        button,
        ul {
            margin: 0;
            padding: 0;
            line-height: normal;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        img {
            width: 100%;
            height: auto;
        }

        button {
            border: 0;
            background-color: transparent;
        }

        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
        }

        /* * Scroll personalizado */
        body::-webkit-scrollbar {
            width: 7px;
        }

        body::-webkit-scrollbar-thumb {
            background-color: var(--darkPrimary);
            border-radius: 5px;
            height: 40%;
        }
    }
}
