@mixin section-blogs {
    .section_blogs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 4rem;

        .caption {
            font-family: "Gotham-Book";
            font-size: 3rem;
            color: #666666;
        }

        .title {
            font-family: "Gotham-Bold";
            font-size: 4rem;
            color: #666666;
        }

        .paragraph {
            text-align: center;
            font-family: "Gotham-Book";
            font-size: 2.4rem;
            max-width: 90rem;
            color: #8d8d8d;
        }

        .container_blogs {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            flex-wrap: wrap;

            width: 100%;
            max-width: 127rem;
            margin-top: 9rem;
            margin-bottom: 5rem;

            .card_blog {
                position: relative;
                bottom: 0;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                max-width: 28rem;
                background-color: #edeeef;
                border-radius: 2rem;
                overflow: hidden;

                &:hover {
                    bottom: 2px;
                }

                figure {
                    position: relative;

                    width: 100%;
                    height: 40rem;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 0 0 2rem 0;

                    margin: 0;

                    a {
                        position: absolute;
                        bottom: 0;
                        right: 0;

                        font-family: "Gotham-Book";

                        font-size: 1.6rem;
                        color: var(--light);
                        background-color: #0066c8;
                        border: 1px solid #0066c8;

                        border-radius: 2rem 0 2rem 0;
                        padding: 1rem 3rem;

                        &:hover {
                            background-color: var(--light);
                            color: #0066c8;
                            border: 1px solid #0066c8;
                        }
                    }
                }

                div {
                    padding: 2rem;
                    padding-top: 0;

                    h2 {
                        font-family: "Gotham-Bold";
                        font-size: 1.8rem;
                        color: #666666;
                        margin-bottom: 1.5rem;
                    }

                    p {
                        font-family: "Gotham-Book";
                        font-size: 1.5rem;
                        color: #666666;
                    }
                }
            }
        }

        .btn_blogs {
            font-family: "Gotham-Book";

            font-size: 1.6rem;
            color: var(--light);
            background-color: #0066c8;

            border-radius: 0 2rem 0 2rem;
            padding: 1rem 3rem;

            &:hover {
                background-color: var(--light);
                color: #0066c8;
                border: 1px solid #0066c8;
            }
        }
    }
}
