@import "../../../components//CardBlogs.scss";

@mixin section-blogs {
    .section_blogs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 4rem;

        .caption {
            font-family: "Gotham-Book";
            font-size: 3rem;
            color: #666666;
        }

        .title {
            font-family: "Gotham-Bold";
            font-size: 4rem;
            color: #666666;
        }

        .paragraph {
            text-align: center;
            font-family: "Gotham-Book";
            font-size: 2.4rem;
            max-width: 90rem;
            color: #8d8d8d;
        }

        .container_blogs {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            flex-wrap: wrap;

            width: 100%;
            max-width: 127rem;
            margin-top: 9rem;
            margin-bottom: 5rem;

            @include card-blogs;
        }

        .btn_blogs {
            font-family: "Gotham-Book";

            font-size: 1.6rem;
            color: var(--light);
            background-color: #0066c8;

            border-radius: 0 2rem 0 2rem;
            padding: 1rem 3rem;

            &:hover {
                background-color: var(--light);
                color: #0066c8;
                border: 1px solid #0066c8;
            }
        }
    }
}
